$textcolor: #12263A;
$backmint: #b4e5d3;
$backpurple: #F4EDEA;
$buttonblue: #06BCC1;

@mixin label() {
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  top: -60%;
  left: 10%;
}

@mixin warning(){
  position: absolute;
  bottom: -50%;
  left: 0;
  font-weight: 500;
  font-size: 16px;
  color: red;
}

@mixin button() {
  transition: 0.3s ease-in-out 0s;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: $buttonblue;
  &:hover{
    transition: 0.3s ease-in-out 0s;
    background-color: white;
    color: $textcolor;
  }
}

@mixin textarea() {
  width: 100%;
  min-height: max-content;
  padding: 10px 20px 10px 20px;
  border-color: $textcolor;
  resize: none;
}
